<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'app/css/styles.css' %}">
</head>
<body>

<h1 class="hello_world">Hello World!</h1>
<form action="#">
  {% csrf_token %}
  <button id="create_csv" class="create_csv">create_csv</button>
</form>
<form action="#">
  {% csrf_token %}
  <button id="read_csv" class="read_csv">read_csv</button>
</form>

</body>

<style>
  button {
    background: #fbca1f;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
  }

  button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }

  button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
</style>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    let csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    $(document).ready(function() {
        $('#create_csv').click(function(e) {
            $.ajax({
                url: '/api/create_csv/',
                method: 'POST',

                headers: {
                    'X-CSRFToken': csrfToken
                },
                success: function(response) {
                    alert(response.message)
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.log("エラー:", xhr);
                }
            });
            e.preventDefault();
        });
    });

    $(document).ready(function() {
      $('#read_csv').click(function(e) {
          $.ajax({
              url: '/api/read_csv/',
              method: 'POST',

              headers: {
                  'X-CSRFToken': csrfToken
              },
              success: function(response) {
                  alert(response.message)
              },
              error: function(xhr, textStatus, errorThrown) {
                  console.log("エラー:", xhr);
              }
          });
          e.preventDefault();
      });
    });
</script>
</html>
